.ui-pnotify {
    top: 20px;
    right: 20px;
    position: fixed;
    height: auto;
    z-index: 9999;
    border-radius: 3px;
}
.ui-pnotify.alert-rounded > .alert {
    border-radius: 5px;
}
.ui-pnotify[class*=bg-] > .alert {
    background-color: inherit;
    border-color: transparent;
    color: #fff;
}
.ui-pnotify.stack-top-left,
.ui-pnotify.stack-bottom-left {
    left: 20px;
    right: auto;
}
.ui-pnotify.stack-bottom-right,
.ui-pnotify.stack-bottom-left {
    bottom: 20px;
    top: auto;
}
.ui-pnotify.stack-custom-right {
    top: auto;
    left: auto;
    bottom: 200px;
    right: 200px;
}
.ui-pnotify.stack-custom-left {
    top: 200px;
    left: 200px;
    right: auto;
    bottom: auto;
}
.ui-pnotify.stack-custom-top {
    right: 0;
    left: 0;
    top: 0;
}
.ui-pnotify.stack-custom-bottom {
    right: 0;
    left: 0;
    bottom: 0;
    top: auto;
}
.ui-pnotify-container {
    height: 100%;
    margin: 0;
    overflow: visible!important;
}
h4.ui-pnotify-title {
    display: block;
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 15px;
}
.ui-pnotify-icon {
    display: block;
    float: left;
    margin-right: 10px;
}
.ui-pnotify-closer,
.ui-pnotify-sticker {
    float: right;
    margin-left: 5px;
    font-size: 10px;
    margin-top: 4px;
    line-height: 1;
}
.ui-pnotify-closer > span,
.ui-pnotify-sticker > span {
    font-size: 12px;
}
.ui-pnotify-sharp {
    border-radius: 0;
}
.ui-pnotify-shadow {
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.ui-pnotify-history-container {
    position: absolute;
    top: 0;
    right: 18px;
    width: 70px;
    border-top: 0;
    padding: 0;
    z-index: 10000;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.ui-pnotify-history-container.ui-pnotify-history-fixed {
    position: fixed;
}
.ui-pnotify-history-container .ui-pnotify-history-header {
    padding: 2px;
    text-align: center;
}
.ui-pnotify-history-container button {
    cursor: pointer;
    display: block;
    width: 100%;
}
.ui-pnotify-history-container .ui-pnotify-history-pulldown {
    display: block;
    margin: 0 auto;
}
/* ------------------------------------------------------------------------------
 *
 *  # jGrowl notifications
 *
 *  Styles for jgrowl.min.js - an unobtrusive notification system for web applications
 *
 *  Version: 1.0
 *  Latest update: May 25, 2015
 *
 * ---------------------------------------------------------------------------- */
.jGrowl {
    z-index: 2001;
    position: absolute;
}
body > .jGrowl {
    position: fixed;
}
.jGrowl.top-left {
    left: 20px;
    top: 20px;
}
.jGrowl.top-center {
    left: 50%;
    top: 20px;
    margin-left: -150px;
}
.jGrowl.top-right {
    right: 20px;
    top: 20px;
}
.jGrowl.center {
    top: 40%;
    width: 300px;
    left: 50%;
    margin-left: -150px;
    margin-top: -35px;
}
.jGrowl.center .jGrowl-notification,
.jGrowl.center .jGrowl-closer {
    margin-left: auto;
    margin-right: auto;
}
.jGrowl.bottom-left {
    left: 20px;
    bottom: 20px;
}
.jGrowl.bottom-center {
    left: 50%;
    bottom: 20px;
    margin-left: -150px;
}
.jGrowl.bottom-right {
    right: 20px;
    bottom: 20px;
}
@media print {
    .jGrowl {
        display: none;
    }
}
.jGrowl-notification {
    margin-bottom: 10px;
    width: 300px;
    text-align: left;
    display: none;
}
.jGrowl-notification .jGrowl-header {
    font-size: 15px;
    margin-bottom: 5px;
}
.jGrowl-notification .jGrowl-header:empty {
    margin: 0;
}
.jGrowl-notification .jGrowl-close {
    font-weight: 300;
    background: none;
    border: 0;
    font-size: 17px;
    cursor: pointer;
    line-height: 1;
    padding: 0;
    float: right;
    color: inherit;
    outline: 0;
    margin-left: 10px;
    opacity: 0.75;
    filter: alpha(opacity=75);
}
.jGrowl-notification .jGrowl-close:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}
.jGrowl-closer {
    padding: 5px 0;
    cursor: pointer;
    margin-top: 5px;
    text-align: center;
    background-color: #fff;
    width: 300px;
    border-radius: 3px;
    border: 1px solid #ddd;
    color: #999999;
}
.alert-rounded + .jGrowl-closer {
    border-radius: 5px;
}